.inventory {
    -fx-background-color: rgba(51, 51, 51, 0.5);
    -fx-background-radius: 10;
    -fx-stroke: rgba(51, 51, 51, 0.5);
    -fx-stroke-width: 100;

}
.button {
    -fx-pref-width: 40px;
    -fx-pref-height: 80px;
}